#container_for_about_1{
    margin-top: 10px;
    width: 1000px;
    margin:10px auto;
    background: #b1d0d7;
    position: absolute;
    left:10%;
    opacity: 0.9;

}

#container_for_about_2{
    width: 400px;
    margin:10px ;
    background: #b1d0d7;
    position: relative;
    float: left;
    opacity: 0.9;

}