#c1 {
    position: relative;
    margin: 10px 30px;
    width: 200px;
    height: 200px;
    background: #bebebe;
    float: left;
    border: 3px solid #000000;
    opacity: 0.9;
}
#c1:hover {
    border: 3px solid #faff1f;
    opacity:1;
}

#c1\.1{
    margin: 10px auto;
    width: 150px;
    height: 150px;
}

#c1\.2{
    margin: 10px auto;
    width: 160px;
    height: 30px;
    background: #0f0f0f;
    text-align: center;
}

#container_for_about_2{
    margin: 0 auto;
position: absolute;
    width: 1070px;
    border: 3px solid #84cfff;
    background: #b6e3ff;

}
